@charset "utf-8";
/* CSS Document */

*{margin:0 auto; padding:0 ;font-size: 10px;}
body{ font-family:"微软雅黑"}

.clear{ clear:both; margin:15px 0}
.content{ width:1100px; margin:0 auto}
img{ display:block;width: 160px;}
ul,dl{ list-style:none}
ul li{
 /*  margin-top: 15px;*/
}
.banner{ background:url(../images/cpjs_bg.jpg) top center no-repeat}
/*.fl{width:100%; height:70px;background-color:#078586; color:#FFF; margin-top:2px}*/
.fl p{ width:1100px; line-height:70px}

.content{ width:1100px; line-height:25px}
.content h3{font-size:35px; color:#4897cb; font-weight:normal; text-align:center; padding:60px 0 30px 0}

.js p{width:1100px; padding:35px 0; color:#666666; line-height:26px}
.js_01{width:800px; margin:0 auto}
.js_01 ul{ padding:0 0 0 0}
.js_01 ul li{padding:0}
.js_01_01 img{ float:left;width: 150px;}

.kxpf_01 dl{ line-height:20px;width:180px; height:230px;background:#f5f5f5; float:left;border-radius:0 0 0 40px; margin-bottom:60px }
.kxpf_01 dl dt{ font-size:18px; color:#ea2143; font-weight:bold; text-align:center; padding-top:15px}
.kxpf_01 dl dd{font-size:14px; color:#333333; padding:20px}




