html,body,menu,ul,ol,li,p,div,form,h1,h2,h3,h4,h5,h6,dl,dt,dd,input{padding:0;margin:0;border:0; list-style:none; }
ul,ol,li{list-style:none outside none;}

body{position:relative;-webkit-text-size-adjust:none; font-size:14px; color:#4d4d4d;overflow-x:hidden;}
a,a:visited{text-decoration:none;color:#4d4d4d;outline:none;cursor:pointer;}
a:hover{color:#ff6600; text-decoration:underline}img{vertical-align:top;display:inline-block;border: none;}
div{margin:0px auto;}

.banner{text-align:center;}
.manyour{width:1000px; margin-top:5px;}

.keshiddtit{ border-bottom:1px solid #e1e1e1; height:32px; line-height:32px; margin-top:30px;}
.keshiddtit span{font:18px/1.5 '\5FAE\8F6F\96C5\9ED1'; font-weight:bold;  border-bottom:1px solid #4897cb; line-height:32px; width:auto; float:left; padding:0 3px; display:block; }
.keshidid{margin-top:12px;}

.keshidid span{display:block; width:680px; float:right;}
.keshidid span p{font-size:14px; line-height:26px; text-indent:25px; margin-top:0px;}


.footer{
	// background:#4897cb; 
	text-align:center; 
	margin-top:17px;
	height: 30px;
	font-size:12px; 
	color:#333; 
	line-height:30px;}
.footer a{color:#fff;}
.footer img{margin-top:5px;}


