* {
	margin:0 0;
	padding:0 0;
}
body {
	font-size: 14px;
	line-height: 24px;
	color: #666;
	/* [disabled]font-family:"微软雅黑",Arial, Helvetica, sans-serif; */
	background-color: #f5f5f5;
}
img {
	border:0;
}

a:link, a:visited {
	color:#666;
	text-decoration:none;
}
a:hover {
	color:#4897cb;
	text-decoration:none;
}

.footer {
    // background: #4897cb;
    text-align: center;
    margin-top: 17px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: #333;
}
.f_txt{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}
.mc{
	text-align: center;
     font-size: 17px;
    line-height: 25px;
}
@media screen and (min-width: 320px) and (max-width:568px){
	ul.menu li a.xiala{
	font-size: 15px;
    width: 80px;
	}
	ul.menu li{
		line-height: 35px;
	}
	div.nav-menu{
		height: 35px;
	}
	div.pt15{
		width: 292px;
	}
	div.yj{
		height: auto;
	}
	div.keshidid span{
		width: 300px;
	}
	div.manyour{
		width: 304px;
	}
	div.jyzn_l{
		float: none;
	}
	div.jyzn_r{
		float: none;
		width: 271px;
	}
}
@media screen and (min-width: 375px) and (max-width:667px){
	ul.menu li a.xiala{
	font-size: 15px;
    width: 95px;
	}
	div.pt15{
		width: 347px;
	}
	div.yj{
		height: auto;
	}
	div.keshidid span{
		width: 300px;
	}
	div.manyour{
		width: 304px;
	}
	div.jyzn_l{
		float: none;
	}
	div.jyzn_r{
		float: none;
		width: 271px;
	}
}
@media screen and (min-width: 414px) and (max-width:736px) {
      #mc{
        width: 100%;
        font-size: 15px;
        line-height: 25px;
        margin-top: 0px;
        text-align: center;
      }
      .mc{
        width: 100%;
        text-align: center;
      }
      #top{
        background-color: #fff;
        height: 25px;
      }
      #pic{
        width: 100%;height: 140px;
      }

      #pt15{
		width: 350px;
		margin: 0px 1.5%;
		height: auto;
	}

      .menu li a#xiala {
        width: 105px;
        display: inline-block;
        color: #FFF;
        text-decoration: none;
        font-size: 14px;
        text-align: center;
        line-height: 30px;
      }
      #menu li {
        display: inline-block;
      }
      #nav-menu {
        height: 30px;
        background: #4897cb;
        width: 100%;
        margin: 0 auto;
    }
    #keshidid img{
		display: block;
	    margin: 0px 6%;
	    width: 300px;
	    float: none;
    }
    #m_width{
		width: auto;
		margin: 1.5%;
		height: 556px;
    }
    #h_width{
		width: auto;
		margin: 1.5%;
		height: auto;
    }
    #jyzn_l{
    	float: none;
    	margin: 0px auto;
    }
    #jyzn_r{
    	float: none;
    	width: 270px;
    	padding: 0px;
    	margin: auto;
    }
    #keshidid span{
        display: block;
   		width: 350px;
    	margin: 0px 3%;
    	float: none;

    }
  }
.pic{
      	width: 100%;
      	height: auto;
    }
.m_t{
	margin-top: 15px;
}
.s_txt{
	font-size:16px;
	line-height:2;
}
.FL {
	float:left;
}
.FR {
	float:right;
}
.clear {
	clear:both;
}
.clearfix {
	display:block;
}
ul li {
	list-style:none;
}
.m {
	width:1160px;
	margin:0 auto;
}
.F {
	width:100%;
}
.top{
	background-color:#fff;
	height:25px;
}
.logo {
	// padding:24px 0;
}
.top_r {
	width:210px;
	padding-top:24px;
	padding-bottom:10px;
	float:right;
}
.top_r ul li {
	width:80px;
	text-align:center;
	float:left;
}
.top_r ul .l1 {
	width:20px;
	text-align:center;
}
.top_r ul .l2 {
	width:60px;
	text-align:center;
}
.top_r ul .l3 {
	width:30px;
	text-align:center;
}

.sch {
	width:68px;
	height:32px;
	border-bottom:2px solid #dedede;
	border-top:2px solid #dedede;
	border-right:2px solid #dedede;
	color:#4897cb;
	line-height:32px;
	text-align:center;
	font-size:16px;
	float:left;
}


/*主导航菜单*/
.nav-menu{
	height:50px;
	background:#4897cb;
	width:100%;
	margin:0 auto;
}
.nav-menu .container{
	position:relative;
	overflow:visible; 
	z-index:99;
}
.menu{}
.menu li{
	position:relative;
	float:left;
	display:inline-block;
	font-size:16px;
	line-height:50px;
}
.menu li h3{
	font-weight:normal;
	display:inline-block;
	float:left;
}

.menu li a.xiala{
	display:inline-block;
	color:#FFF;
	text-decoration:none;
	font-size:16px;
	width:232px;
	text-align:center;
}
.menu li a.selected, .menu li a.navhover, .menu li a.xiala:hover{
	color:#fff;
}
#Tab .content {
	width:100%;
	display:block;
	line-height:20px;
	border-bottom:1px dashed #E3E3E3;
	padding:5px 0 12px 0;
	color:#a2a2a2;
}
#Tab .content a:link,#Tab .content a:visited {
	color:#a2a2a2;
}
#Tab .content a:hover {
	color:#4897cb;
}
#Tab .indexnewlist {
	padding-top:5px;
}


.mzcx {
	width:335px;
	padding:25px 20px 20px 25px;
	background:#fff;
}
.tit {
	border-bottom:1px solid #ccc;
	position:relative;
	height:33px;
}
.tit1 {
	color:#4897cb;
	font-size:18px; 
	height:33px;
	font-weight:bold;
	border-bottom:1px solid #4897cb;
	position:absolute;
	cursor: pointer;
}



/*简介页面样式*/
.yj {
	width:1130px;
	padding:20px;
	background:#fff;
	line-height:28px;
	height:698px;
}
.pt15 {
	padding-top:15px;
	width: 1130px;
}

.yj_list li {
	width:150px;
	float:left;
	padding-left:15px;
	
}
.yj_list1 li {
	padding-left:15px;
}
.fc1 {
	color:#000;
}
.p20 {
	padding:20px;
}

.mt20 {
	margin-top:20px;
}
.mt15 {
	margin-top:15px;
}
.tzgg {
	width:360px;
	padding:20px;
	background:#fff;
	line-height:28px;
	height:245px;
}
.pt15 {
	padding-top:15px;
}
.tzgg_list li {
	padding-left:15px;
	background:url(../images/li_bg.jpg) no-repeat left center;
	line-height:32px;
}
.pt20 {
	padding-top:20px;
}
.sp {
	width:300px;
	padding:20px;
	background:#fff;
	line-height:28px;
	height:245px;
}
.sp_list li {
	padding-left:15px;
	background:url(../images/li_bg.jpg) no-repeat left center;
	line-height:32px;
}

/*就医指南页面样式*/
.jyzn {
	height: 738px;
	background:#fff;
}
.jyzn_l {
	width:220px;
}
.jyzn_l li {
	text-align:center;
	border-bottom:1px solid #f5f5f5;
	line-height:60px;
	font-size:16px;
	font-weight:bold;
}
.jyzn_r {
	width:879px;
	border-left:1px solid #f5f5f5;
	padding:0px 30px 100px 30px;
}