html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, img, ins, small, strong, var, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, input, textarea, legend { margin: 0; padding: 0; }
ol, ul { list-style: none; }
:focus { outline: 0; }
a img { border: 0; }
img { vertical-align: middle; }
table { empty-cells: show; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
cite, i, em { font-style: normal; }
textarea { -webkit-appearance: none; }
div, span, i, a, button, input { -webkit-tap-highlight-color: rgba(0,0,0,0); }
body { font-size: 14px; line-height: 1.8; font-family: "풕턼환쥌", SimSun; background: #fff; color: #333; cursor: default; }
a { text-decoration: none; color: #333; }
.header-ask { height: 38px; background-color: #07B3E3; position: relative; }
.header-ask p { font-size: 10px; line-height: 38px; color: #fff; margin-right:10px;}
.header-ask p a { display: inline-block; padding: 0 4px; color: #fff; }
.header-ask p a:active { background-color: #f2f2f2; }
.header-ask h1 { height: 100%; overflow: hidden; padding: 0 88px 0 44px; font-weight: 400; font-size: 18px; line-height: 44px; text-align: center; white-space: nowrap; text-overflow: ellipsis; color: #fff; }

.header-ask .back { width: 32px; height: 100%; position: absolute; left: 0; top: 0; margin-left:10px;}
.header-ask .back a { display: block; width: 100%; height: 100%; text-indent: -200%; background: url("../images/logo.png")/*tpa=http://ah.bestyizhe.cn/images/logo.png*/ no-repeat center; background-size: 100%; }
.header-ask .back a:active { background-color: rgba(0,0,0,.1); }

.footer { padding-top: 10px; background-color: #07B3E3; }
.footer-version { padding-top: 10px; font-size: 14px; line-height: 22px; text-align: center; }
.footer-version a { display: inline-block; height: 22px; margin: 0 5px; padding: 0 5px; border: 1px solid #07B3E3; border-radius: 3px; color: #fff; }
.footer-version a.on, .footer-version a:hover { border-color: #fff; }

@-webkit-keyframes swiper-preloader-spin { 100% {
-webkit-transform:rotate(360deg);
}
}
@keyframes swiper-preloader-spin { 100% {
transform:rotate(360deg);
}
}
/******************************************************/
.ellipsis-this, .ellipsis-ul li a { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.spacing { border-top: 10px solid #E3E3E7; }
.search { overflow: hidden; margin: 20px 0; }
.titles { height: 44px; overflow: hidden; line-height: 44px; border-bottom: 1px solid #07B3E3; position: relative; }
.titles h2 { float: left; font-size: 18px; text-indent: 12px; }
.list { overflow: hidden; box-sizing: border-box; }
.list li { float: left; width: 100%; overflow: hidden; }
.list li a { display: block; width: 100%; overflow: hidden; box-sizing: border-box; padding: 1px 12px 1px 20px; white-space: nowrap; text-overflow: ellipsis; position: relative; }
.list li a:after { content: ""; width: 2px; height: 2px; margin-top: -1px; background: #363636; position: absolute; left: 12px; top: 50%; }
.list li a:active { background-color: #f2f2f2; }
@media screen and (min-width: 640px) {
}
.sub { overflow: hidden; padding: 0 6px; }
.sub p { font-size: 14px; line-height: 40px; color: #999; }
.sub p a { display: inline-block; padding: 0 6px; color: #999; }
.sub p a:active { background-color: #f2f2f2; }
.tiezi-title { width: 100%; height: 64px; box-sizing: border-box; padding: 0 12px 0 42px; border-top: 1px solid #E3E3E7; border-bottom: 1px solid #E3E3E7; position: relative; }
.tiezi-title .zt { width: 20px; height: 100%; padding: 1px 5px; text-align: center; line-height: 16px; color: #fff; position: absolute; left: 0; top: -1px; }
.tiezi-title .zt i { display: block; padding-top: 7px; }
.tiezi-title .zt2 { background: #1FBAE6; }
.tiezi-title h1 { width: 100%; height: 42px; font-weight: normal; font-size: 17px; line-height: 22px; }
.tiezi-title .about { width: 100%; height: 26px; overflow: hidden; font-size: 12px; color: #999; }
.tiezi-title .about .msg { float: left; }
.tiezi-title .about .time { float: right; }
.tiezi-ps { width: 100%; box-sizing: border-box; text-align: justify; text-justify: distribute; }
.tiezi-ps i { color: #999; }
.tiezi-ps cite { display: block; padding-bottom: 10px; font-size: 12px; color: #999; }
.tiezi-qs { padding: 10px 12px; }
.tiezi-as { width: 100%; }
.tiezi-as .ys { width: 100%; position: relative; }
.tiezi-as .ys-msg { width: 100%; overflow: hidden; box-sizing: border-box; padding: 15px 12px 12px; }
.tiezi-as .ys-msg img { float: left; width: 40px; height: 40px; border-radius: 100%; }
.tiezi-as .ys-msg span { float: left; width: 40%; min-height: 40px; margin-left: 10px; font-size: 16px; line-height: 20px; }
.tiezi-as .ys-msg span cite { display: block; width: 100%; font-size: 12px; color: #666; }
.tiezi-as .tiezi-ps { padding: 0 12px; }
.tiezi-as .ys-tool { width: 100%; overflow: hidden; border-top: 1px solid #E3E3E7; border-bottom: 1px solid #E3E3E7; line-height: 34px; text-align: center; }
.tiezi-as .ys-tool a { color: #1FBAE6; }
.tiezi-as .ys-tool .up { float: left; width: 40%; position: relative; }
.tiezi-as .ys-tool .up:after { content: ""; width: 0; height: 12px; margin-top: -6px; border-left: 1px solid #E3E3E7; position: absolute; right: 0; top: 50%; }
.tiezi-bs { width: 100%; }
.tiezi-bs-titles { width: 100%; height: 32px; margin-top: 10px; line-height: 32px; }
.tiezi-bs-titles h2 { float: left; height: 100%; padding-right: 28px; font-size: 18px; text-indent: 12px; color: #fff; position: relative; }
.tiezi-bs-titles h2:after { content: ""; width: 0; height: 0; border: 16px solid transparent; border-right-color: #fff; position: absolute; right: 0; top: 0; }
.tiezi-bs-titles h2.t2 { background: #77C182; }
.tiezi-bs .list { padding-top: 10px; }
.tiezi-bs .list li { border-bottom: 1px dotted #E3E3E7; line-height: 36px; }
@-webkit-keyframes twinkling { 0% {
opacity:0;
}
100% {
opacity:1;
}
}
/******************************************************/

* { margin: 0; padding: 0; }
ul { list-style-type: none; }
a { text-decoration: none; color: #0099e3 }
body { background-color: #FFF; margin: 0 auto; padding: 0 1%; width: auto }
table { border-collapse: collapse; border: none; }
img { border: 0; }
input, textarea { outline: none; }
#box_span { font: 16px "풕턼환쥌"; font-weight: 800; color: #6a6a6a; }
@media all and (min-width:480px) {
}
.doctor_img { display: block; float: left; border-radius: 100%; height: 40px; width: 40px; }
.time { margin-left: 2%; font: 14px "풕턼환쥌"; color: #6a6a6a; float: right; margin-right: 1% }
.content_le_03_doctor_line { height: 1px; background-color: #CCCCCC; margin: 0 auto; margin-top: 20px; }
.content_le_03_doctor { clear: both; margin-left: 3%; padding-top: 20px; overflow: hidden; margin-bottom: 2%; }
.content_le_03_doctor ul { float: left; padding-right: 2%; }
.content_le_03_doctor ul li { width: 100%; font: 12px "풕턼환쥌"; color: #6a6a6a; margin-left: 4%; margin-bottom: 8px; }
.content_le_03_doctor ul li span { font: 14px "풕턼환쥌"; font-weight: 800; color: #6a6a6a; }
.content_le_03_advice { overflow: hidden; margin: 0 2% 0 2%; position: relative; border-width: 0px; border-style: solid; border-color: rgb(188, 192, 197); border-radius: 8px; border-top-left-radius: 8px; border-top-right-radius: 8px; border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }
.content_le_03_advice p { font: 14px "풕턼환쥌"; color: #6a6a6a; overflow: hidden; margin: 0 auto; padding: 1% 2% 0 2%; line-height: 20px; }
.content_le_03_advice p span { font-weight: 800; font-size: 16px; }
.content_ri { float: left; width: 100%; margin: 2% 0% 0 0%; overflow: hidden; }
.content_ri_01 { position: relative; border-width: 1px; border-style: solid; border-color: rgb(188, 192, 197); border-radius: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.content_ri_01 dt { font: 18px '풕턼환쥌'; color: #333333; font-weight: 700; margin-top: 16px; margin-left: 14px; }
.dotted_line { height: 1px; margin: 0 auto; margin-top: 10px; margin-bottom: 10px; background-position: center; background-repeat: repeat-x; }
.content_ri_01 dd { overflow: hidden; margin-left: 16px; }
.content_ri_01 dd a { padding: 2px 8px 2px 8px; background-color: #ffe6c7; font: 14px '풕턼환쥌'; color: #333333; display: block; float: left; margin-right: 8px; margin-bottom: 18px; border-width: 1px; border-style: solid; border-color: rgb(195, 204, 149); border-radius: 3px; border-top-left-radius: 3px; border-top-right-radius: 3px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px; }
.hot { position: absolute; top: 56px; left: 130px; }
.content_ri_02 { background-color: #fff; margin-top: 16px; border-width: 1px; border-style: solid; border-color: rgb(188, 192, 197); border-radius: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.content_ri_02 dt { font: 18px '풕턼환쥌'; color: #333333; font-weight: 700; margin-top: 16px; margin-left: 14px; }
.content_ri_03 { background-color: #fff; margin-top: 16px; border-width: 1px; border-style: solid; border-color: rgb(188, 192, 197); border-radius: 6px; border-top-left-radius: 6px; border-top-right-radius: 6px; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px; }
.content_ri_03 p { font: 18px '풕턼환쥌'; color: #333333; font-weight: 700; margin-top: 16px; margin-left: 14px; }
.content_ri_03_text { overflow: hidden; margin-left: 10px; }
.content_ri_03_text dl { overflow: hidden; margin-top: 9px; }
.content_ri_03_text dt { font: 18px '풕턼환쥌'; color: #fff; width: 24px; height: 24px; text-align: center; float: left; background-color: #c2c2c2; }
.content_ri_03_text dd { float: left; margin-left: 6px; }
.content_ri_03_text dd a { font: 14px '풕턼환쥌'; color: #333333; }
.content_ri_03_text dd a:hover { color: #f00; }
div { }
.tw{    float: right;
    width: 88px;
    height: 26px;
    margin-top: 7px;
    border: 1px solid #23BBE6;
    border-radius: 3px;
    line-height: 26px;
    text-align: center;
    color: #1FBAE6;}
.swt_tc {
    width: 230px;
    height: 80px;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -115px;
    margin-top: -40px;
    border: 2px solid #0089d1;
    -webkit-box-shadow: 0 0 20px #666;
    box-shadow: 0 0 20px #666;
    border-radius: 3px;
    background: #fff;
    z-index: 999;
	display:none;
}
.swttc_img {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}
.swttc_text {
    float: left;
    width: 160px;
    display: block;
}
.swttc_text h3 {
    font-size: 14px;
    color: #000;
    text-align: center;
    line-height: 32px;
	font-weight: normal;
}
.swttc_text p {
    padding-left: 25px;
}

.popCancel {
    position: absolute;
    right: 5px;
    top: 0px;
    z-index: 99999;
}
.yitiaoxiaoxi {
    height: 14px;
    line-height: 14px;
    display: block;
    float: left;
    font-size: 12px;
    color: #000;
}
.swttc_zxdh span {
    display: block;
    width: 50px;
    height: 20px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    float: left;
    margin-left: 17px;
    margin-right: 4px;
    font-size: 13px;
	margin-top:7px;
}
#swttc_zx {
    background: #f00;
}
#swttc_dh {
    background: #0089d1;
}
.topfix{width: 100%; background: #000;position: fixed;top: 0;z-index: 999;opacity: 0.8;padding: 5px 0;display: none;}
.topfix:hover{cursor: pointer;}
.topfix .top_wx{width: 40px; height: 100%; position: absolute; left: 0; top: 0; margin-left:10px;}
.topfix .top_wx .top_fixa{display: block; width: 100%; height: 100%; text-indent: -200%; background: url("../images/weixin.png")/*tpa=http://ah.bestyizhe.cn/images/weixin.png*/ no-repeat center; background-size: 100%; }
.topfix p{margin-left: 60px;color: white;font-size: 12px;}