html {
    height: 100%;
    color: #000;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-family: Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif;
    background-color: #FFF
}

html * {
    outline: 0;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

html input {
    font-family: Arial,Helvetica,'Hiragino Sans GB','Microsoft YaHei',sans-serif
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

fieldset,img {
    border: 0
}

del {
    text-decoration: line-through
}

address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: 500
}

ol,ul {
    list-style: none
}

caption,th {
    text-align: left
}

a:hover {
    text-decoration: underline
}

ins,a {
    text-decoration: none
}

html,body {
    width: 100%;
    overflow: auto!important;
}

body {
    min-height: 100%;
    line-height: 1.5
}

#content {
    width: 100%;
    margin: 0 auto
}

.piece {
    width: 100%;
    background-color: transparent;
    position: relative;
    box-sizing: border-box
}

.piece.fbottom,.piece.ftop {
    position: fixed!important;
    width: 100%!important;
    z-index: 10!important
}

.create-left-content {
    width: 1.867rem;
    height: auto;
    text-align: center;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0
}

.create-right-content {
    width: 1.867rem;
    height: auto;
    text-align: center;
    z-index: 9999;
    position: fixed;
    bottom: 0;
    right: 0
}

.piece.fbottom {
    top: auto!important;
    bottom: 0!important
}

.piece.ftop {
    top: 0!important;
    bottom: auto!important
}

#content {
    min-height: 100%;
    position: relative;
    overflow: hidden
}

#MEIQIA-PANEL-HOLDER {
    right: 0!important
}

html::-webkit-scrollbar {
    display: none
}

.hide {
    display: none!important
}

.clearfix::after {
    display: block;
    content: "";
    clear: both
}

body {
    position: relative;
}

.law-text-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
    background: #F2F2F2;
}

.law-text-line {
    width: 14px;
    height: 1px;
    line-height: 1px;
    background: #69768C;
}

.law-text {
    margin: 0 8px;
    line-height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #69768C;
}

.clue-form-wrapper.svelte-7b7rbn {
    background-color: #fff
}

.clue-form-title.svelte-7b7rbn {
    margin-bottom: 0.58666667rem;
    padding: 0 0.64rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    font-family: PingFangSC-Regular;
    font-size: 0.37333333rem;
    text-overflow: ellipsis;
    text-align: center;
    overflow: hidden
}


.clue-form.layer.svelte-7b7rbn {
    background-color: transparent
}

.clue-form.svelte-7b7rbn * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent
}

.clue-form.svelte-7b7rbn>:nth-of-type(n+2) {
    margin-top: 0.58666667rem
}

.clue-form.svelte-7b7rbn .label {
    color: inherit;
    font-weight: 500
}

.clue-form.svelte-7b7rbn .required .label:after {
    content: '*';
    color: #ff4444
}

.clue-form.svelte-7b7rbn *::-webkit-input-placeholder {
    font-size: 0.37333333rem;
    color: #b5b5b5
}

.clue-form.svelte-7b7rbn *::placeholder {
    font-size: 0.37333333rem;
    color: #b5b5b5
}

.clue-form.svelte-7b7rbn .input-error {
    border-color: #ff4444
}

.clue-form.svelte-7b7rbn .error-msg {
    display: none;
    font-size: 0.32rem;
    line-height: 0.53333333rem;
    color: #FF4444
}

.clue-form.svelte-7b7rbn .error-msg.show {
    display: block;
    margin-top: 0.10666667rem
}

.hint-wrapper.svelte-48meuu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.21333333rem 0.42666667rem;
    background: rgba(145, 248, 121, 0.12);
    border-radius: 0.05333333rem
}

.hint-wrapper.hide.svelte-48meuu {
    display: none
}

.hint-wrapper.hide.svelte-48meuu+* {
    margin-top: 0 !important
}

.hint-text.svelte-48meuu {
    letter-spacing: 0
}

.hint-text.svelte-48meuu .title.svelte-48meuu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-weight: bold;
    font-size: 0.42666667rem;
    color: #54C23A;
    height: 0.53333333rem
}

.hint-text.svelte-48meuu .title.svelte-48meuu:before {
    content: '';
    display: inline-block;
    margin-right: 0.21333333rem;
    margin-top: -0.05333333rem;
    width: 0.42666667rem;
    height: 0.42666667rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cdefs%3E%3Cpath id='a' d='M0 0h16v16H0z'/%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b' fill='%23fff'%3E%3Cuse xlink:href='%23a'/%3E%3C/mask%3E%3Cuse fill='%23D8D8D8' opacity='.01' xlink:href='%23a'/%3E%3Cg mask='url(%23b)' fill='%2354C23A' fill-rule='nonzero'%3E%3Cpath d='M8 14.689V8.132h5.6v.262c0 4.057-4.072 5.817-5.6 6.295zM8 0c2.435 1.746 7 1.746 7 1.746v6.69c0 5.237-5.04 7.04-7 7.564-1.96-.524-7-2.327-7-7.563v-6.69s4.565 0 7-1.747zm6.16 8.394V2.623S10.434 2.503 8 1.049C5.565 2.503 1.84 2.623 1.84 2.623v5.77c0 4.459 4.48 6.296 6.16 6.82 1.68-.524 6.16-2.36 6.16-6.82zM2.4 3.148s3.384-.25 5.6-1.573v6.557H2.4V3.148z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain
}

.hint-text.svelte-48meuu .desp.svelte-48meuu {
    margin-top: 0.05333333rem;
    font-size: 0.34666667rem;
    color: rgba(84,194,58,0.75);
    line-height: 0.48rem
}

label.svelte-48meuu {
    cursor: pointer
}

.icon.svelte-48meuu {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    width: 0.42666667rem;
    height: 0.42666667rem;
    margin-right: 0.21333333rem;
    background-repeat: no-repeat;
    background-size: contain;
    pointer-events: none
}

:not(:checked)+.icon.svelte-48meuu {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='24.5' y='932.5' width='15' height='15' rx='2' transform='translate(-24 -932)' fill='%23FFF' stroke='%23D7D7D7' fill-rule='evenodd'/%3E%3C/svg%3E") !important
}

.counter.svelte-12xg9tt {
    margin-bottom: 0.64rem;
    padding: 0 0.42666667rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 100%;
    height: 0.96rem;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 1px 0.13333333rem 0 rgba(0,0,0,0.15);
    border-radius: 0.48rem;
    color: #333;
    font-family: PingFangSC-Regular;
    font-size: 0.37333333rem
}

.icon.svelte-12xg9tt {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    margin-right: 0.32rem;
    color: #D0021B
}

.msg.svelte-12xg9tt {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-user-select: none;
    user-select: none
}

.number.svelte-12xg9tt {
    font-weight: bold;
    font-size: 0.48rem;
    color: #D0021B
}

.radio-item-wrapper.svelte-jkiinp {
    margin-top: 0.21333333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.label.svelte-jkiinp .hint.svelte-jkiinp {
    display: inline-block;
    font-family: PingFangSC-Regular;
    font-size: 0.29333333rem;
    color: #999;
    line-height: 0.58666667rem
}

.radio-item.svelte-jkiinp {
    margin-bottom: 0.37333333rem;
    height: 0.58666667rem;
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    color: rgba(68, 68, 68, 0.8);
    font-weight: 400;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none
}

.layout1.svelte-jkiinp .radio-item.svelte-jkiinp {
    width: 100%
}

.layout2.svelte-jkiinp .radio-item.svelte-jkiinp {
    width: 50%
}

.layout3.svelte-jkiinp .radio-item.svelte-jkiinp {
    margin-right: 0.64rem
}

.radio-item.svelte-jkiinp .icon.svelte-jkiinp {
    -webkit-box-flex: 0;
    -webkit-flex: none;
    flex: none;
    content: '';
    width: 0.42666667rem;
    height: 0.42666667rem;
    margin-right: 0.21333333rem;
    background-repeat: no-repeat;
    pointer-events: none
}

.radio-item :not(:checked)+.icon.svelte-jkiinp {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='24.5' y='1116.5' width='15' height='15' rx='7.5' transform='translate(-24 -1116)' fill='%23FFF' stroke='%23D7D7D7' fill-rule='evenodd'/%3E%3C/svg%3E") !important
}

.radio-item.svelte-jkiinp div.svelte-jkiinp {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none
}

input[type='number'].svelte-12h8i42::-webkit-outer-spin-button,input[type='number'].svelte-12h8i42::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none !important;
    appearance: none !important
}

.layout2.svelte-12h8i42>.label.svelte-12h8i42,.layout4.svelte-12h8i42>.label.svelte-12h8i42 {
    display: none
}

.layout3.svelte-12h8i42>.label.svelte-12h8i42 {
    margin-bottom: 0.21333333rem
}

.input-item.svelte-12h8i42 {
    -webkit-appearance: none;
    padding: 0.16rem 0 0.18666667rem 0;
    width: 100%;
    background-color: transparent;
    border: 1px solid #dcdcdc;
    border-width: 0 0 1px 0;
    border-radius: 0;
    font-size: 0.37333333rem;
    line-height: 0.58666667rem;
    outline: none
}

.layout2.svelte-12h8i42 .input-item.svelte-12h8i42,.layout3.svelte-12h8i42 .input-item.svelte-12h8i42 {
    padding: 0.16rem 0.32rem;
    border-width: 1px;
    border-radius: 0.05333333rem;
    background-color: #fff
}

.clearBtn.svelte-12h8i42 {
    display: none;
    position: absolute;
    top: 50%;
    right: 0.13333333rem;
    width: 0.42666667rem;
    height: 0.42666667rem;
    margin-top: -0.21333333rem;
    border-radius: 0.21333333rem;
    background-color: #ccc;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.input-item-wrapper:hover input.notempty:not([disabled])+.clearBtn.svelte-12h8i42 {
    display: block
}

.clearBtn.svelte-12h8i42:after,.clearBtn.svelte-12h8i42:before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #fff
}

.clearBtn.svelte-12h8i42:after {
    width: 1px;
    height: 70%
}

.clearBtn.svelte-12h8i42:before {
    width: 70%;
    height: 1px
}

.modal-wrapper.svelte-1j0zf1f {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 300
}

.modal-wrapper.hide.svelte-1j0zf1f {
    display: none
}

.mask.svelte-1j0zf1f {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    opacity: 1;
    background-color: rgba(0,0,0,0.5)
}

.window.svelte-1j0zf1f {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 8.96rem;
    padding-top: 0.64rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 0.21333333rem;
    font-family: PingFangSC-Regular;
    font-weight: bold
}

.close.svelte-1j0zf1f {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.37333333rem;
    width: 0.26666667rem;
    height: 0.26666667rem;
    box-sizing: content-box;
    cursor: pointer
}

.close.svelte-1j0zf1f::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 12 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.93 6l4.885-4.888a.64.64 0 0 0 0-.9l-.027-.027a.64.64 0 0 0-.899 0L6.002 5.08 1.117.186a.64.64 0 0 0-.9 0L.19.21a.628.628 0 0 0 0 .9L5.077 6 .19 10.888a.64.64 0 0 0 0 .9l.027.027a.64.64 0 0 0 .9 0l4.886-4.889 4.886 4.889a.64.64 0 0 0 .9 0l.026-.027a.64.64 0 0 0 0-.9L6.93 5.999v.002V6z' fill='%23666' fill-rule='nonzero'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain
}

.icon.svelte-12nigtj {
    margin: 0 auto;
    width: 1.17333333rem;
    height: 1.17333333rem;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 34 34' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath d='M34 17.21C34 26.389 26.389 34 16.79 34 7.611 34 0 26.389 0 17.21 0 7.61 7.611 0 16.79 0 26.39 0 34 7.611 34 17.21zM8.637 18.286l5.227 5.41c.22.227.585.233.812.01l11.736-11.55a.282.282 0 0 0 0-.403l-.576-.569a.323.323 0 0 0-.426-.016l-10.703 8.916a.752.752 0 0 1-.898.02l-4.162-3.19a.28.28 0 0 0-.399.058l-.64.873a.355.355 0 0 0 .029.44z' fill='%235EC77B'/%3E%3Cpath d='M8.592 18.444l5.169 5.35c.217.225.578.23.803.01L26.17 12.382a.28.28 0 0 0 0-.398l-.57-.563a.32.32 0 0 0-.42-.016l-10.585 8.818a.744.744 0 0 1-.888.018L9.59 17.087a.277.277 0 0 0-.394.058l-.634.863a.351.351 0 0 0 .03.436z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover
}

.icon.error.svelte-12nigtj {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 44 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill-rule='nonzero' fill='none'%3E%3Cpath d='M18.906 19.861a.774.774 0 1 1-1.547-.02.774.774 0 0 1 1.547.02zm-1.154.05l.238.245c.01.01.027.01.037 0l.534-.525a.013.013 0 0 0 0-.018l-.026-.026a.015.015 0 0 0-.02 0l-.487.405a.034.034 0 0 1-.04 0l-.19-.144a.013.013 0 0 0-.018.002l-.029.04a.016.016 0 0 0 .001.02z' fill='%235EC77B'/%3E%3Cpath d='M17.75 19.898l.235.229c.01.01.027.01.037 0l.528-.488a.012.012 0 0 0 .004-.009.012.012 0 0 0-.004-.008l-.026-.024a.015.015 0 0 0-.02-.001l-.48.377a.036.036 0 0 1-.041 0l-.187-.134a.013.013 0 0 0-.018.002l-.03.037a.014.014 0 0 0 .002.019z' fill='%23FFF'/%3E%3Cpath d='M22 0c12.15 0 22 9.85 22 22s-9.85 22-22 22S0 34.15 0 22 9.85 0 22 0z' fill='%23FF6F6B'/%3E%3Cpath d='M22 27.5a2.75 2.75 0 1 1 0 5.5 2.75 2.75 0 0 1 0-5.5zm-2.75-15.125h5.5L23.375 24.75h-2.75L19.25 12.375z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E")
}

.message.svelte-12nigtj {
    margin-top: 0.53333333rem;
    padding: 0 0.8rem;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    font-size: 0.42666667rem;
    line-height: 0.58666667rem;
    text-align: center;
    color: #333333
}

.line.svelte-12nigtj {
    margin: 0.42666667rem auto 0;
    width: 6.66666667rem;
    border: 1px solid hsl(0, 0%, 92%)
}

.body.svelte-12nigtj {
    padding: 0.37333333rem 1.14666667rem 0;
    max-height: 4.32rem;
    box-sizing: content-box;
    overflow: scroll
}

.body.svelte-12nigtj::-webkit-scrollbar {
    display: none
}

button.svelte-12nigtj {
    position: relative;
    left: 50%;
    margin-top: 0.85333333rem;
    padding: 0;
    width: 6.66666667rem;
    height: 1.28rem;
    background-color: hsl(211, 100%, 62%);
    border-radius: 0.74666667rem;
    font-size: 0.48rem;
    line-height: 0.64rem;
    color: hsl(0, 0%, 100%);
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none
}

.submit-list-wrapper.svelte-1vgiy3p {
    position: relative;
    margin: 0.64rem
}

.submit-list-wrapper.bar.svelte-1vgiy3p>.title.svelte-1vgiy3p {
    display: none
}

.submit-list-wrapper.bar.svelte-1vgiy3p>.icon.svelte-1vgiy3p {
    position: absolute;
    left: 0.85333333rem;
    top: 50%;
    width: 0.37333333rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1
}

.submit-list-wrapper.bar.svelte-1vgiy3p>.list-wrapper.svelte-1vgiy3p {
    padding: 0 0.96rem 0 2.08rem;
    background-image: none;
    background: #FFFFFF;
    box-shadow: 0 1px 0.13333333rem 0 rgba(0,0,0,0.15);
    border-radius: 0.45333333rem
}

.submit-list-wrapper.bar.svelte-1vgiy3p .swiper-container.svelte-1vgiy3p {
    height: 0.96rem
}

.title.svelte-1vgiy3p {
    font-family: PingFangSC-Regular;
    font-weight: bold;
    text-align: center;
    font-size: 0.42666667rem;
    line-height: 0.58666667rem;
    color: #3B9AFF
}

.list-wrapper.svelte-1vgiy3p {
    margin-top: 0.48rem;
    position: relative;
    width: 100%;
    padding: 4.5871559633027525% 15.902140672782875% /*15px 52px*/;
    background-image: url("index_files/aaaa.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    box-sizing: border-box;
    color: #000
}

.swiper-container.svelte-1vgiy3p {
    width: 100%;
    height: 4.66666667rem;
    overflow: hidden
}

.swiper-slide.svelte-1vgiy3p {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between
}

.swiper-slide.svelte-1vgiy3p>div.svelte-1vgiy3p {
    font-size: 0.34666667rem;
    overflow: hidden;
    color: inherit
}

.swiper-slide.svelte-1vgiy3p .time.svelte-1vgiy3p {
    text-align: right;
    min-width: 1.49333333rem
}

.bar.svelte-1vgiy3p .swiper-slide .time.svelte-1vgiy3p {
    min-width: auto
}

.phone_agreement_link_wrapper.svelte-1vf80xd {
    font-size: 0.32rem;
    font-family: PingFangSC-Regular;
    line-height: 0.48rem;
    color: #999
}

.icon.svelte-1vf80xd {
    display: inline-block;
    content: '';
    width: 0.42666667rem;
    height: 0.42666667rem;
    margin-top: -1px;
    margin-right: 0.21333333rem;
    line-height: inherit;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Crect x='24.5' y='932.5' width='15' height='15' rx='2' transform='translate(-24 -932)' fill='%23FFF' stroke='%23D7D7D7' fill-rule='evenodd'/%3E%3C/svg%3E")
}

:checked+.icon.svelte-1vf80xd {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Crect fill='%233B9AFF' width='16' height='16' rx='2'/%3E%3Cpath d='M7.024 10.67l5.297-5.297a.51.51 0 0 1 .714-.007.501.501 0 0 1-.007.714l-5.643 5.643-.007.007a.5.5 0 0 1-.7.006L3.128 8.188a.5.5 0 0 1 .707-.707l3.188 3.188z' fill='%23FFF'/%3E%3C/g%3E%3C/svg%3E")
}

.phone_agreement_checker.svelte-1vf80xd {
    margin-right: 0.21333333rem
}

.phone_agreement_link.svelte-1vf80xd {
    color: #3B9AFF;
    text-decoration: none
}

.body.svelte-1vf80xd {
    padding: 0 0.8rem;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden auto;
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    color: #333333;
    line-height: 0.64rem
}

.body.svelte-1vf80xd .head.svelte-1vf80xd {
    font-family: PingFangSC-Semibold;
    font-size: 0.53333333rem;
    text-align: center
}

.body.svelte-1vf80xd .content.svelte-1vf80xd {
    margin-top: 0.48rem;
    font-family: PingFangSC-Regular;
    font-size: 0.32rem;
    color: #333333;
    line-height: 0.64rem
}
.submitbtn.svelte-a6af2v {
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 1.28rem;
    color: #fff;
    background-color: #3B9AFF;
    border-radius: 0.74666667rem;
    font-family: PingFangSC-Regular;
    font-weight: bold;
    font-size: 0.48rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent
}

.submitbtn.svelte-a6af2v span.svelte-a6af2v {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto
}

.layout2.svelte-ayvo9y>.label.svelte-ayvo9y,.layout4.svelte-ayvo9y>.label.svelte-ayvo9y {
    display: none
}

.layout3.svelte-ayvo9y>.label.svelte-ayvo9y {
    margin-bottom: 0.21333333rem
}

.select-item-wrapper.svelte-ayvo9y {
    position: relative;
    cursor: pointer
}

.select-item-wrapper.svelte-ayvo9y:nth-of-type(n+3) {
    margin-top: 0.42666667rem
}

.select-item-wrapper.hide.svelte-ayvo9y {
    display: none
}

.select-item-wrapper.svelte-ayvo9y::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 0.37333333rem;
    height: 0.21333333rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 14 8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.693 7.658c-.196.202-.462.39-.714.331-.252.044-.49-.158-.686-.331L.231 1.39a.834.834 0 0 1 0-1.152.778.778 0 0 1 1.12 0l5.642 5.965L12.649.238a.778.778 0 0 1 1.12 0 .834.834 0 0 1 0 1.152L7.693 7.658z' fill='%23D7D7D7' fill-rule='nonzero'/%3E%3C/svg%3E ");
    background-repeat: no-repeat;
    background-size: contain
}

.layout2.svelte-ayvo9y .select-item-wrapper.svelte-ayvo9y::after,.layout3.svelte-ayvo9y .select-item-wrapper.svelte-ayvo9y::after {
    right: 0.21333333rem
}

.select-item.svelte-ayvo9y {
    -webkit-appearance: none;
    width: 100%;
    padding: 0.16rem 0.53333333rem 0.16rem 0;
    border: 1px solid #dcdcdc;
    border-width: 0 0 1px 0 !important;
    border-radius: 0;
    background-color: transparent;
    font-family: PingFangSC-Regular;
    font-size: 0.37333333rem;
    line-height: 0.58666667rem;
    outline: none;
    pointer-events: none
}

.layout2.svelte-ayvo9y .select-item.svelte-ayvo9y,.layout3.svelte-ayvo9y .select-item.svelte-ayvo9y {
    padding: 0.16rem 0.74666667rem 0.16rem 0.32rem;
    border-width: 1px !important;
    border-radius: 0.05333333rem;
    background-color: #fff
}

input[type='number'].svelte-3t9b84::-webkit-outer-spin-button,input[type='number'].svelte-3t9b84::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none !important;
    appearance: none !important
}

.layout2.svelte-3t9b84>.label.svelte-3t9b84,.layout4.svelte-3t9b84>.label.svelte-3t9b84 {
    display: none
}

.layout3.svelte-3t9b84>.label.svelte-3t9b84 {
    margin-bottom: 0.21333333rem
}

.input-item-wrapper.svelte-3t9b84 {
    position: relative
}

.input-item.svelte-3t9b84 {
    -webkit-appearance: none;
    padding: 0.16rem 0 0.18666667rem 0;
    width: 100%;
    background-color: transparent;
    border: 1px solid #dcdcdc;
    border-width: 0 0 1px 0;
    border-radius: 0;
    font-size: 0.37333333rem;
    line-height: 0.58666667rem;
    outline: none
}

.show-localphone.svelte-3t9b84 .input-item.svelte-3t9b84 {
    padding-right: 2.29333333rem
}

.layout2.svelte-3t9b84 .input-item.svelte-3t9b84,.layout3.svelte-3t9b84 .input-item.svelte-3t9b84 {
    padding: 0.16rem 0.32rem;
    border-width: 1px;
    border-radius: 0.05333333rem;
    background-color: #fff
}

.show-localphone.layout2.svelte-3t9b84 .input-item.svelte-3t9b84,.show-localphone.layout3.svelte-3t9b84 .input-item.svelte-3t9b84 {
    padding-right: 2.34666667rem
}

.use-localphone-wrapper.svelte-3t9b84 {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.16rem 0 0.18666667rem 0;
    font-size: 0.32rem;
    line-height: 0.58666667rem;
    font-weight: 400;
    color: #3B9AFF;
    border-color: transparent;
    border-style: solid;
    border-width: 0 0 1px 0
}

.show-localphone.svelte-3t9b84 .use-localphone-wrapper.svelte-3t9b84 {
    display: block
}

.layout2.svelte-3t9b84 .use-localphone-wrapper.svelte-3t9b84,.layout3.svelte-3t9b84 .use-localphone-wrapper.svelte-3t9b84 {
    padding: 0.18666667rem 0.21333333rem
}

.use-localphone-wrapper.svelte-3t9b84::before {
    content: '';
    border-width: 0;
    margin-right: 0.32rem;
    border-left: 1px solid #EAEAEA
}

.layout2.svelte-3t9b84 .use-localphone-wrapper.svelte-3t9b84::before,.layout3.svelte-3t9b84 .use-localphone-wrapper.svelte-3t9b84::before {
    display: none
}

.use-localphone-wrapper.svelte-3t9b84 .use-btn.svelte-3t9b84 {
    display: inline-block;
    cursor: pointer
}

.telecom_operator_agreement_link.svelte-3t9b84 {
    color: #3B9AFF;
    text-decoration: none;
    cursor: pointer
}

.agreement-wrapper.svelte-3t9b84 {
    display: none;
    margin-top: 0.10666667rem;
    font-size: 0.32rem;
    font-weight: 400;
    color: #999;
    line-height: 0.53333333rem
}

.show-localphone.svelte-3t9b84 .agreement-wrapper.svelte-3t9b84 {
    display: block
}
.clue-form.svelte-7b7rbn {
    padding: 0.32rem 0.64rem;
    font-family: PingFangSC-Regular;
    font-size: 0.37333333rem;
    line-height: 0.58666667rem;
    color: #444444
}



.phone, .phone iframe {
    height: 100%;
    width: 100%;
}

@media(min-width:765px) {
    .phone {
        position: absolute;
        top: 50%;
        left: 50%;
        background: #111;
        border-radius: 55px;
        box-shadow: 0px 0px 0px 2px #aaa;
        width: 320px;
        height: 568px;
        margin: -400px 0 0 -160px;
        padding: 105px 25px;
    }

    .phone::before {
        content: '';
        width: 60px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
        background: #333;
        top: 50px;
    }

    .phone::after {
        content: '';
        position: absolute;
        width: 60px;
        height: 60px;
        left: 50%;
        margin-left: -30px;
        bottom: 20px;
        border-radius: 100%;
        box-sizing: border-box;
        border: 5px solid #333;
    }

    .phone iframe {
        width: 320px;
        height: 568px;
        display: block;
        width: 100%;
    }

}

/*LOOP - Font Size */
.f-s-2 {
    font-size: 2px !important;
}

.f-s-4 {
    font-size: 4px !important;
}

.f-s-6 {
    font-size: 6px !important;
}

.f-s-8 {
    font-size: 8px !important;
}

.f-s-10 {
    font-size: 10px !important;
}

.f-s-12 {
    font-size: 12px !important;
}

.f-s-14 {
    font-size: 14px !important;
}

.f-s-16 {
    font-size: 16px !important;
}

.f-s-18 {
    font-size: 18px !important;
}

.f-s-20 {
    font-size: 20px !important;
}

.f-s-22 {
    font-size: 22px !important;
}

.f-s-24 {
    font-size: 24px !important;
}

.f-s-26 {
    font-size: 26px !important;
}

.f-s-28 {
    font-size: 28px !important;
}

.f-s-30 {
    font-size: 30px !important;
}

.f-s-32 {
    font-size: 32px !important;
}

.f-s-34 {
    font-size: 34px !important;
}

.f-s-36 {
    font-size: 36px !important;
}

.f-s-38 {
    font-size: 38px !important;
}

.f-s-40 {
    font-size: 40px !important;
}

.picker-modal{
    position: fixed;
}
.goods {
    display: flex;
}
.goods img{
    width: 1.5rem;height: 1.5rem;
    margin-right: 10px;
}
.goods .text{
    display: flex;
    flex:1;
    flex-direction: column;
    justify-content: space-between;
}
.goods .text .name{
    font-size: 0.5rem;
}
.goods .text .info{
    display: flex;
    width: 100%;
    justify-content: space-between; 
}
.goods .text .info .price{
    font-size: 0.4rem;
}
.goods .text .info .price b{
    font-size: 0.5rem;
    padding: 0 5px;
    color:red;
}
.goods .text .info .price s{
    color: #ccc;
}
.goods input{
    width: 0.9rem;
    position: relative;
    top:-1px;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding:2px 5px;
}