body, html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background: #ff4b3d;
  user-select: none;
}

.main {
  min-height: 100%;
  max-width: 640px;
  margin:0 auto;
  background-image: url('../images/bg.png');
  background-size: 100% 100%;
}
.header {
  text-align: center;
}
.header .logo{
  width: 40%;
  margin-top: 50px;
}
.header .title{
  width:80%;
  margin-top: 20px;
}
.header .subtitle{
  width: 60%;
  margin-top: 0px;
}
.info {
  text-align: center;
  font-size: 14px;
  color:#fff;
  line-height: 50px;
}
.info span{
  background: #ea4727;
  color:#feee92;padding:0 10px 2px;
  display: inline-block;
  height: 20px;line-height: 20px;
  margin: 0 5px;
  border-radius: 20px;
}

.render_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next_btn {
  width: 40px;
  margin: 0 15px;
  cursor: pointer;
  border-radius: 20px;
}
.next_btn.prev img {
  transform: rotate(180deg);
}
.next_btn img {
  width: 40px;border-radius: 20px;
}
.render_box .rennder {
  flex: 1;
  position: relative;
  font-size: 0;
  background: #fbe6b5;
  border-radius: 8px;
}
.user_header {
  background: #d8d8d8;
  position: relative;
  position: absolute;
  top:8px;left:8px;
  right: 8px;bottom: 8px;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
}
.user_header img {
  position: absolute;
  width:100%;height:100%;
  top:0;left:0;
}
.render_box .rennder .watermark{
  margin: 8px;border-radius: 8px;
  position: relative;z-index: 9;
}
.render_box .rennder .watermark img {
  width: 100%;border-radius: 8px;
}
.enter_btn {
  width: 72%;
  margin:35px auto 0;
  background: #ffe55e;
  padding: 15px 0;
  border-radius: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color:red;
}
.enter_btn img {
  width: 100%;
}


#alert {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background:rgba(0,0,0,0.5); */
  display: none;
  z-index: 99999;
}

.alert {
  position: relative;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  padding: 15px 0 0 0;
}

.alert img {
  width: 100%;
}

.alert center {
  color: Red;
}

.alert .close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: -5px;
  right: -5px;
  background: #333;
  border-radius: 50%;
  text-align: center;
  line-height: 25px;
  color: #fff;
  cursor: pointer;
}

.alert .close::after {
  content: "X";
  font-size: 16px;
  font-weight: 600;
}
.setcolor {
  border-radius: 4px;
  padding-top: 30px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, #D1F386 0%, #FFC1C1 100%);
  box-shadow: 0px -1px 20px #917C7E;
  color: #000000;
  text-align: center;
  font-weight: bold;
}

.setcolor .close {
  display: none;
}

.setcolor .weixinpic {
  width: 50%;
}

.text2 {
  font-weight: bold;
  border-bottom: #F00 dotted 3px;
  color: #000000;
  padding-bottom: 6px;
  font-size: 18px;
  display: inline-block;
  margin-bottom: 10px;
}

.copyword {
  animation: twinkling 4s infinite ease-in-out;
  display: inline-block;
  -webkit-animation: twinkling 4s infinite ease-in-out;
  padding: 5px 10px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  margin-bottom: 10px;
  background-color: #CC376D;
  color: white;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-shadow: -2px 3px 38px -7px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -2px 3px 38px -7px rgba(0, 0, 0, 0.44);
  box-shadow: -2px 3px 38px -7px rgba(0, 0, 0, 0.44);
}

.slita {
  color: red;
  font-weight: bold;
}