body,html{
	margin:0;padding:0;width:100%;height:100%;background:#eee;
}
.contain{/*页面主题*/
	max-width: 640px;background:#ffb527;margin:0 auto;font-size: 20px;padding: 2rem 15px;height: 100%;
}
img{
	width: 100%;
}

.apple{
	width: 80%;
	display: block;
	margin: 0 auto;
	position: relative;
}
p{
	font-size: 18px;line-height: 1.5em;text-align: center;margin:5px 0;color: #373ea0;
}

.weixinpic{
	position: absolute;top: 20%;left: 18%;width: 64%;
}

    


