@charset "utf-8";
body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul,a{margin:0;padding:0}
body{font-family:'Microsoft YaHei',Verdana,Arial,Helvetica,sans-serif; color:#000; background:#fff; position:absolute; min-height:100%; width:100%;}
fieldset,img{border:0}ol,ul{list-style:none}address,em{font-style:normal}a{color:#000;text-decoration:none}
table{border-collapse:collapse;}
img{vertical-align:top;}
html{ background:#2c2c2c;}
button { border:0px none;}
.w100 img{ width:100%;}
.pos_r{position:relative;}
.shadow{overflow: hidden;position: fixed;display: none;background: rgba(0,0,0,.4);z-index: 101;}
.clf:before, .clf:after {content:"";display:table;}
.clf:after{clear:both;}
.clf{*zoom:1;}
.fl{float:left; display:inline-block;}
.fr{float:right; display:inline-block;}

.ta-l { text-align:left;}
.ta-r { text-align:right;}
.ta-c { text-align:center;}

.col_red{ color: #ef382e;}

.main{width:100%;min-width:320px;margin:0 auto;max-width:640px;font-size:14px;background:white; overflow:hidden; box-sizing:border-box; }
.main1{width:100%;min-width:320px;margin:0 auto;max-width:640px;font-size:14px;background:white; overflow:hidden;box-sizing:border-box; }
@media screen and (min-width:320px){.main{font-size:14px;}.fnav{font-size:14px;}}
@media screen and (min-width:360px){.main{font-size:15.5px;}.fnav{font-size:15.5px;}}
@media screen and (min-width:375px){.main{font-size:16px;}.fnav{font-size:16px;}}
@media screen and (min-width:400px){.main{font-size:18px;}.fnav{font-size:18px;}}
@media screen and (min-width:480px){.main{font-size:21px;}.fnav{font-size:21px;}}
@media screen and (min-width:560px){.main{font-size:24px;}.fnav{font-size:24px;}}
@media screen and (min-width:640px){.main{font-size:28px;}.fnav{font-size:28px;}}

#lazy_img img.lazy{background:url(../images/loading.gif) 50% 50% #fff no-repeat; background-size:15%; min-height:50px;}
.jb_bg{
background: -moz-linear-gradient(top, #fef7bb 0%, #f1da36 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fef7bb), color-stop(100%,#f1da36)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fef7bb 0%,#f1da36 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fef7bb 0%,#f1da36 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #fef7bb 0%,#f1da36 100%); /* IE10+ */
background: linear-gradient(top bottom, #fef7bb 0%,#f1da36 100%); /* W3C */
}

/* 公共头部 */
.header { position:relative; text-align:center;}
.logo_bar { padding: .6em 0 .4em;position: relative; background:#121212;}
.logo_bar div { position:absolute; top:50%; transform:translateY(-50%); -ms-transform:translateY(-50%); -webkit-transform:translateY(-50%); -moz-transform:translateY(-50%);}
.logo_bar div img { width:100%;}
.logo { width:44%;}
.left_menu_btn { position:absolute; left:2.8%; top:50%; padding:0.4em 0.2em; width:6.6%; max-width:42px; border-radius:5px;}
.left_menu_btn.on { background:#ff5c5c; box-shadow:0px 0px 0px 1px #ff1111 inset;}
.head_shopcart { right:5%; width:6%;}
.head_shopcart span { position:absolute; top:-0.5em; right:-0.8em; width:1.5em; height:1.5em; text-align:center; line-height:1.5em; background:#d1143c; color:#fff; border-radius:50%; font-size:0.7em;}
.head_user { right:15.8%; width:5.6%;}

/* 左侧菜单栏 */
.panel { line-height:2.1em; font-size:1.07em; position:absolute; top:100%; left:0px; width:60%; background:#fff; z-index:9; padding-bottom:1.8em; border-bottom:1px solid #e7e7e7; box-shadow:5px 5px 10px #dcdbdb; display:none;}
.panel_bg { position:fixed; top:0px; bottom:0px; left:0px; right:0px; background:rgba(0,0,0,0.4); z-index:100;}
.panel a { color:#4c4c4c; display:block;}
.panel .newest { color:#fff; font-family:"Microsoft YaHei"; border:1px solid #ff1111; background:-moz-linear-gradient(top, #ff6060, #ff3a3a); background:-ms-linear-gradient(top, #ff6060, #ff3a3a); background: -webkit-gradient(linear, left top, left bottom, from(#ff6060), to(#ff3a3a));}
.panel .tool_bar { font-size:1em; margin-top:0.45em; color:#4c4c4c;}
.panel .tool_bar:before { display:none;}
.panel .classify { position:relative;}
.panel .tool_bar_open:before { position:absolute; top:-1px; left:0px; bottom:-1px; margin:0px; height:auto; display:block;}
.panel .classify:after { position:absolute; top:0.5em; right:0.5em;}
.panel a.tool_bar:after { display:none;}

/* 搜索框 */
.serch{padding: 0em 0 0.5em 0.7em;text-align: center;overflow: hidden;clear: both; background:#191919;}
.serch .sherch_box{width: 80%;height:2.5em;color: #fff;font-size: .9em;border: none;border-radius: .2em;float: left;padding: 0 .5em; z-index:100; background:#2a2a2a;}
.serch .sherch_btn{width: 6%;float: left; padding:0.3em 0.5em 0em 0.5em;margin-left: 0.7em;}
.serch .sherch_btn img{width: 100%;}

/* 公共尾部 */
.footer { width:100%; max-width:640px; margin:0px auto;}
.footer_nav{padding: .5em 0 .3em;border-bottom: 1px solid #ddb288;background: #121212;width: 100%;text-align: center;font-size: 1em;}
.footer_nav span{display: inline-block;width: 18.5%;text-align: center;}
.footer_nav span a{display: inline-block;text-align: center; color:#fff; font-size:1em;}
.footer_nav span a img{width: 100%;}
.footer_hot { text-align:center; background:#121212; font-size:1em; line-height:2em; border-bottom:1px solid #dcb288; padding:0.6em 0em;}
.footer_hot a { color:#fff; display:inline-block; width:33%;}
.footer_hot a:nth-child(2):before { content:""; display:block; height:2em; margin-bottom:-2em; border-left:1px solid #737373; border-right:1px solid #737373;}

.footer_serch{padding: 1em 0 5em;text-align: center;background:#000;}
.serch_inner{width: 80%;margin: 0 auto;background: #fff;height: 2em;border-radius: 1em;padding: .2em 1em;box-sizing:border-box;}
.serch_inner span{line-height:2em;color: #000;font-size: .8em;float: left;width: 15%;}
.serch_inner .sherch_box{width: 91%;float: left;display: inline-block; margin-top:0.2em; height: 1.8em; border: none;font-size: .7em;font-family: "Arial";font-weight: normal;outline: none;color: #c5c5c5;}
.serch_inner .sherch_btn{width: 9%;float: left;}
.serch_inner .sherch_btn img{width: 100%;}
.copyright{padding: .5em 0;line-height: 1.5em;text-align: center;font-size: .8em;color: #4f4f4f;}

/*20150721增加二维码样式*/
.code{text-align: center;color:#fff;font-size: 0.8em;line-height:2em;font-family: 'microsoft yahei';padding-top:1em;}
.code span{width:28%;display: inline-block;}
.code span img{width:100%;max-width: 100px;}
/*20150721增加二维码样式*/

.nav_fixed{width:100%;min-width:320px;margin:0 auto;max-width:640px;position:fixed;left: 0;right: 0 ;bottom: 0em;background: #101010;text-align: center;height: 3.15em;padding: .3em 0; z-index:99; transition:all cubic-bezier(0.42,0,1,1) 0.6s 0.5s; -webkit-transition:all cubic-bezier(0.42,0,1,1) 0.6s 0.5s; -ms-transition:all cubic-bezier(0.42,0,1,1) 0.6s 0.5s;}
.nav_fixed.on{ bottom:0em;}

.nav_fixed span{display: inline-block;width: 23%;text-align: center;height: 3.15em;}
.nav_fixed span a{width: 59%;display: inline-block;height: 3.15em;}
.nav_fixed span:first-child a{background: url(../images/home.png) no-repeat center; background-size: 100%;}
.nav_fixed span:nth-child(2) a{background: url(../images/online.png) no-repeat center; background-size: 100%;}
.nav_fixed span:nth-child(3) a{background: url(../images/tel.png) no-repeat center; background-size: 100%;}
.nav_fixed span:nth-child(4) { display:none;}
.nav_fixed span:nth-child(4) a{background: url(../images/start.png) no-repeat center; background-size: 100%;}
.nav_fixed span.current:first-child a{background: url(../images/home1.png) no-repeat center; background-size: 100%;}
.nav_fixed span.current:nth-child(2) a{background: url(../images/online1.png) no-repeat center; background-size: 100%;}
.nav_fixed span.current:nth-child(3) a{background: url(../images/tel1.png) no-repeat center; background-size: 100%;}
.nav_fixed span.current:nth-child(4) a{background: url(../images/start1.png) no-repeat center; background-size: 100%;}
.nav_fixed .on_order{display: inline-block;width: 20%;height: 2.5em;background: #c70d35;border-radius: .2em;color: #fff;font-size: 1em;line-height: 2.5em;}
.nav_fixed b.buy_butt{display: inline-block;width: 23%;text-align: center;height: 3.15em;font-weight: normal;}
.nav_fixed b.buy_butt a{width: 59%;display: inline-block;height: 3.15em;background: url(../images/cart.png) no-repeat center; background-size: 100%;}
.nav_fixed b.buy_butt a.at{background: url(../images/cart1.png) no-repeat center; background-size: 100%;}


/* 右侧购物车、返回顶部 */
.top_cart { position:fixed; bottom:25%; right:0px; width:11.7%; max-width:75px; z-index: 99;}
.top_cart a { display:block;}
.top_cart img { width:100%;}
.top_cart .gotop { margin-bottom:4px;}

/*详情页qq咨询*/
.t_pr{position: relative;width:100%;padding:0.8em 0;text-align: center; background: #000;color:#f3b77b;}
.t_pr a{display: inline-block;width:42%;text-align: center; color:#fff; background: #ff1a35;border-radius: 0.2em;box-shadow:0px 0.15em 0px #aa1325;padding:0.25em 0;}
.t_pr p{text-align: center;padding-bottom: 0.3em;font-size: 1.4em;}
.t_pr a.cht_t{ background: #d20019;margin-left:7%;box-shadow:0px 0.15em 0px #980012;}

/* UI */
.black_btn {
font-size:0.85em;
line-height:2em;
display:block;
color:#fff;
border-radius:4px;
background: -moz-linear-gradient(top, #434343 0%, #131313 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#434343), color-stop(100%,#131313));
background: -webkit-linear-gradient(top, #434343 0%,#131313 100%);
background: -o-linear-gradient(top, #434343 0%,#131313 100%);
background: -ms-linear-gradient(top, #434343 0%,#131313 100%);
background: linear-gradient(top bottom, #434343 0%,#131313 100%);
}
.red_btn {
font-size:0.85em;
line-height:2em;
display:block;
color:#fff;
border-radius:4px;
border:1px solid #ff1111;
background: -moz-linear-gradient(top, #ff6060 0%, #ff3a3a 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6060), color-stop(100%,#ff3a3a));
background: -webkit-linear-gradient(top, #ff6060 0%,#ff3a3a 100%);
background: -o-linear-gradient(top, #ff6060 0%,#ff3a3a 100%);
background: -ms-linear-gradient(top, #ff6060 0%,#ff3a3a 100%);
background: linear-gradient(top bottom, #ff6060 0%,#ff3a3a 100%);
}

.UIradio { position:relative;}
.UIradio input { position:absolute; top:0px; left:0px; border:0px none; width:100%; height:100%; opacity:0; margin:0em 0.8em; z-index:5;}
.UIradio input + i { width:1.2em; height:1.2em; position:absolute; top:0px; left:0.8em; border:1px solid #a7a7a7; border-radius:50%; background:none; z-index:1;}
.UIradio input:checked + i { border:1px solid #ff4040; border-radius:50%; background:url(../images/radio.png) no-repeat center; background-size:66% 48.5%;}

.tool_bar { background:#f1f1f1; border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; font-size:0.85em; color:#585858; line-height:1em; padding:0.5em;}
.tool_bar:before { content:""; width:0.16em; height:1em; background:#ff4040; margin-right:0.3em; float:left;}
.tool_bar:after { content:""; float:right; width:1.2em; height:1.2em; background:url(../images/tool_bar_btn.png) no-repeat; background-size:100% 200%;}
.tool_bar_open:after { background-position:0% 100%;}

.title_bar { text-align:center; font-size:1.2em; line-height:1.8em; border-bottom:1px solid #dcb288;}
.title_bar img { width:5.6%; vertical-align:middle;}
.title_bar a { float:left; margin-left:0.5em; color:#b0b0b0;}

.pro_show { margin:0% 0.5% 4% 2.5%; text-align:center;}
.pro_show > div { float:left; width:47.5%; margin-top:0.8em; color:#585858; text-align:left;}
.pro_show > div.goods_product{height: 15em;}
.pro_show > div:nth-child(2n) { float:left;}
.pro_show img { width:100%; }
.pro_show .pro_name { line-height:1.2em; padding-left: 1em; height: 2.4em; overflow: hidden; }
.pro_show .price { color:#ff4040; font-weight:bold; font-size:1em; padding-left: 1em;}
.pro_show s { font-size:0.8em; color:#7a7a7a; padding-left: 1em;}
.pro_show .color { height:2em; padding-left: 1em; overflow:hidden;}
.pro_show .color span { display:inline-block; width:1.8em; height:1.8em; border-radius:7px;}
.pro_show .color:before{content: ""; clear: both;}
.pro_show .color:after{content: ""; clear: both;}
.viewMore { display:inline-block; border-bottom:1px solid #909090; color:#909090; font-size:1em; margin:1.2em auto;}


/* 弹窗 */
.dialogDIY { position:fixed; z-index: 999; bottom:3.5em; left:0px; right:0px; padding-bottom:4em; width:100%; max-width:640px; margin:0px auto; color:#fff; background:rgba(0,0,0,0.75); text-align:center; display:none;}
.dialogDIY h3 { font-size:1.2em; line-height:1.8em; height:1.8em;}
.dialogDIY .custom_dia , .dialogDIY .default_dia { margin:auto 7.8%; font-size:1.07em;}
.dialogDIY .custom_dia a , .dialogDIY .default_dia a { color:#ff4040;}
.dialogDIY .colse_dia { position:absolute; top:0.35em; right:0.35em; width:1.18em; height:1.18em; background:url(../images/colse_dia.png) no-repeat; background-size:100%;}
.dialogDIY .btn_box a { color:#353535; font-size:0.85em; display:inline-block; line-height:1em; padding:0.5em 1em; margin:0.5em; border:1px solid #c0c0c0; border-radius:5px; background:#fff;}
.dialogDIY .btn_box .confirm_dia { color:#fff; border-color:#ff1111;
background:linear-gradient(top, #ff6060, #ff3a3a);
background-image:background:-moz-linear-gradient(top, #ff6060, #ff3a3a);
background: -webkit-gradient(linear, left top, left bottom, from(#ff6060), to(#ff3a3a));
background-image:background:-o-linear-gradient(top, #ff6060, #ff3a3a);
}

.teachFooter{width: 100%;margin:0 auto;text-align: center;background: #000;}
.teachFooter span{width: 32%;display: inline-block;text-align: center;}
.teachFooter a{color:gold;}


.Mask{
	width: 100%;height: 100%;
	background: rgba(0, 0, 0, 0.7);-pie-background:rgba(0,0,0,.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2000000,endColorstr=#B2000000);
	position: fixed;left: 0;top: 0;display: none; 
}
.Mask img{
	width: 60%;position: absolute;left: 50%;top: 31%;
	transform:translateX(-50%);-webkit-transform:translateX(-50%);-moz-transform:translateX(-50%);-ms-transform:translateX(-50%);-o-transform:translateX(-50%); 
}