@charset "utf-8";
a,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,li,ol,p,select,table,td,textarea,th,ul{margin:0;padding:0}
body{font-family:'Microsoft YaHei';color:#333;background:#fff;margin:0 auto;min-width:320px;max-width:640px;}
a{display: block}
p{margin: 0;}
img{width:100%;border:0;display: block;}
html{font-size:10px;-webkit-tap-highlight-color:transparent}
body{font-size:1.5rem;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box}
body *{box-sizing:inherit}
@media only screen and (min-width:320px){html{font-size:62%!important}
}
@media only screen and (min-width:341px){html{font-size:68%!important}
}
@media only screen and (min-width:361px){html{font-size:72%!important}
}
@media only screen and (min-width:381px){html{font-size:78%!important}
}
@media only screen and (min-width:481px){html{font-size:82%!important}
}
@media only screen and (min-width:640px){html{font-size:82%!important}p{line-height: 2.8rem!important}.main{padding: 0 20px!important}.num-1{top: 25rem!important}.go-2{top: 31.5rem!important}
}
p{
	line-height: 2.4rem;
	letter-spacing: 1px;
}
ul,ol{
	list-style: none;
}
.clearfix{
    zoom: 1;
}
.clearfix:after{
  	content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.title{
	padding: 6% 0;
	background-color: #000;
}
.main{
	overflow: hidden;
	padding: 0 10px;
	background-color: #000;
}
.wrap{
	padding: 2rem 10px;
	margin-bottom: 4rem;
	background-color: #fff;
}
.box-1{
	padding: 10px 14px;
	border: 1px dashed #000;
}
.yellow{
	/*color: black;*/
}
.jimi-box{
	overflow: hidden;
	margin: 6% 0;
	padding: 3% 2%;
	background-color: #f2f2f2;
}
.jimi-head{
	float: left;
	margin-top: .5rem;
	margin-right: 4px;
	margin-bottom: 1rem;
	width: 20%;
	border-radius: 50%;
}
.jimi-info{
	font-size: 1.8rem;
	margin-bottom: 1rem;
}
.jimi-info .bg-green{
	font-size: 1.3rem;
}
.addfriend{
	float: right;
	margin-top: -4rem;
	width: 4rem;
	height: 4rem;
	line-height: 4.1rem;
	color: #fff;
	font-size: 1.2rem;
	text-align: center;
	border-radius: 50%;
	background-color: #539b01;
}
.jimi-text{
	font-size: 1rem;
}
.jimi-text p{
	line-height: normal;
}
.bg-green{
	padding: 0 4px;
	margin-left: 4px;
	color: #fff;
	background-color: #007bfc;
}
.center{
	text-align: center;
}
.bg-y{
	padding: 0 4px;
	font-weight: bold;
	color: #fff;
	font-weight: bold;
	background-color: red;
}
.img-set{
	margin: 1.6rem auto;
	color: gray;
	font-size: 1.3rem;
	text-align: center;
}
.wrap-black{
	color: #fff;
	background-color: transparent;
}
.tag-1{
	float: left;
	width: 103%;
	margin-left: -10px;
	margin-top: -10px;
	margin-bottom: .9rem;
	font-weight: bold;
	border: 2px solid #e8071e;
}
.tag-title{
	display: inline-block;
	padding: 0 4px;
	color: #fff;
	background-color: #e8071e;
}
.title-1 {
 	margin-bottom: 1.5rem;
}
.text-top{
	margin-top: .9rem;
}
.red{
	color: red;
	font-weight: bold;
}
.blacktitle{
	position: relative;
	z-index: 1;
	display: inline-block;
	padding: 4px 8px;
	color: #fff;
	background-color: #000;
}
.blacktitle:after{
	position: absolute;
	z-index: -1;
	bottom: -8px;
	left: 14px;
	content: "";
	width: 16px;
	height: 16px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background-color: #000;
}
.f-img{
	width: 75%;
}
.tag-2{
	padding: 0 4px;
	color: #fff;
	background-color: #e8071e;
}
.i-box-1 p{
	display: inline-block;
	width: 43%;
	vertical-align: middle;
}
.i-box-1 img{
	display: inline;
	width: 54%;
	vertical-align: middle;
}
.project{
	margin: 1.8rem 0;
}
.project-title-box{
	margin-bottom: 1.1rem;
	border-top: 1px solid rgb(89, 195, 249);
}
.project-title{
	float: left;
	padding: 2px 1rem;
	font-size: 1.6rem;
	border-radius: 0px 0px 5px 5px;
    color: #fff;
    background-color: rgb(89, 195, 249);
}
.corner{
	float: left;
	width: 2rem;
	height: 2.4rem;
	background-color: rgb(89, 195, 249);
}
.corner>i{
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 15px 0 0 0;
	background-color: #fff;
}
.title-box{
	margin-bottom: 1rem;
}
.title-box p{
	text-align: center;
	font-weight: bold;
	line-height: 2rem;
}
.title-num{
	margin: 0 auto .7rem;
	color: #fff;
	width: 3.5rem;
	height: 3.5rem;
	padding: 2px;
	border-radius: 50%;
	background-color: rgb(216, 40, 33);
	box-sizing: border-box;
}
.title-num>i{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 3rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	border-radius: 50%;
	border: 2px dotted #fff;
	box-sizing: border-box;
}
.bold{
	font-weight: bold;
}
.blue{
	color: #35acd4;
	font-weight: bold;
}
.wechat-num{
	padding: 0 4px;
	color: red;
	font-weight: bold;
	font-size: 1.8rem;
	background-color: yellow;
}
.tag-3{
	font-size: 2rem;
	font-weight: bold;
	text-align: center;
}
.center{
	text-align: center;
}
.max-top{
	margin-top: 1.8rem;
}
.idol-info{
	color: yellow;
	font-size: 1.56rem;
	font-weight: bold;
	background-color: #007bfc;
}
.idol-tag {
    color: #fff;
    font-weight: normal;
    font-size: 1.4rem;
}
.suprise{
	color: #f00;
	font-size: 2rem;
	font-weight: bold;
}
.file{
	margin: 2rem 0;
}
.file-name{
	padding: 0 6px;
	color: #fff;
	background-color: #d3a53c;
}
.list-3{
	margin: 2rem 0;
	display:-webkit-flex;
	display:flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	text-align: center;
}
.list-3 li{
	padding: 0 3%;
	font-size: 1.2rem;
    color: #666;
    background: #f4f5f7;
    border-radius: 0.06rem;
    border: 1px solid #eee;
}


.comment{
	/*padding: 0 18px;*/
	margin: 3rem 0;
}
.comment-title {
	margin-bottom: 2rem;
    text-align: center;
}
.comment-title>span {
    display: inline-block;
    background: #a3a9c5;
    color: #fff;
    padding: 8px 20px;
    border-radius: 100px;
}
.comment-list{
	padding: 0 18px;
	margin-bottom: 9rem;
	font-size: 1.3rem;
	list-style: none;
}
.comment-list li{
	padding: 5% 0 3%; 
	border-bottom: 1px solid #d6d6d5
}
.name{
	font-size: 1.3rem;
}
.like{
	float: right;
	padding-left: 1.8rem;
	color: #d9d8d8;
	background: url("../images/like.jpg") 0 .2rem no-repeat;
	-webkit-background-size: 1.4rem;
	background-size: 1.4rem;
}
.comm-text{
	color: #696767;
	margin: 2% 0;
	line-height: 2rem;
}
.comm-img{
	width: 60%;
}
.comm-head{
	width: 12%;
	float: left;
	border-radius: 50%;
}
.comm-text-wrap{
	margin-left: 15%;
	font-size: 1.2rem;
}
.comm-date{
	margin-top: -4px;
	color: #aaa;
	font-size: 1rem;
}
.comm-chat{
	padding: 3%;
	background-color: #f4f2f3;
}
.reply{
	padding-left: 4px;
	color: #3ca7ef;
	border-left: 3px solid #27d544;  
}


.weixin{
	font-size: 20px;
	color: red;background-color: yellow;font-weight: 600;
}
.buttomess{
    position: fixed;bottom:0;left:0;height:auto;width:100%;z-index: 999;
}
._buttomess{
    max-width: 640px;margin:0 auto;padding:10px;background:#eeeeee;
}
._buttomess table{
    width:100%;
}
._buttomess {
    font-weight: 400;font-size:16px;color: #333;
}
._buttomess span .weixin{
    background:yellow;color:red;font-weight: 600;font-size: 18px;
}
.touxiang{
    float:left;width:70px;height:70px;margin-top:-30px;margin-right: 5px;border-radius: 50%;
}

._buttomess a{
    display: inline-block;background:#217519;color:#fff;line-height: 30px;padding:0 10px;border-radius: 5px;
    text-decoration: none;
}

.right_button{
    position: fixed;
    text-align: center;
    color: #aaa;
    top: 40%;
    left: 50%;
    margin-left: 340px;
    background: #fff;
    border-radius: 0.3rem;
    padding: 0.24rem 0.24rem 0.16rem;
    border: 0.05rem solid #217519;
}
img{
    display: block;
}
.right_button a span{
    color: #217519!important;
    font-weight: bold;
    font-size: 0.55rem;
    line-height: 20px;
}
@media screen and (max-width: 870px){
    .right_button{
        left: 100%;
        margin-left: -80px;
    }
}

#layer{
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
	left: 0px;
	z-index: 999;
}

.layer_box{
	max-width: 640px;
	margin: 15% auto;
	position: relative;
}
.layer_box .weixinpic{
    position: absolute;top: 33%;left: 20%;width: 60%;
}

.layer_weixin{
    position: absolute;
    text-align: center;
    top: 48%;
    width: 98%;
    left: 1%;
}

.layer_weixin .weixin{
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 22px;
    box-shadow: 2px 2px 5px #555555;
}

#layer a{
    position: absolute;
	width: 36%;
    top: 77%;
    left: 32%;
    height: 10.5%;
}

#close{
    position: absolute;
    top: 0%;
    right: 0%;
    width: 10%;
    height: 10%;
}
