@CHARSET "UTF-8";  
html{
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;	font-size:20px;
} 

body {
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
	-webkit-touch-callout: none;
	font-family: -apple-system-font,"Helvetica Neue","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif;
	line-height: inherit;
	
	rgb(255,231,185);
}

a {
	color: #607fa6;
	text-decoration: none; 
}

.img {
	height: auto!important;
	width: 100%;
	vertical-align: middle;
}

p{
	font-size: 0.9rem;
	text-align: justify;
	line-height: 1.7em;
	margin: 0 15px;
	font-weight: bold;
	color: #050404;
}
.p_s{
	font-size:0.8rem;
	text-align:justify;
	line-height:1.5em;
	margin:0 10px;
	text-align: center;
}

.style1x {
				text-align: center;
}

.p1{
	font-size: 1rem;
	text-align: center;
	line-height: 1.7em;
	margin: 0 10px;
	font-style: normal;
	font-weight: normal;
	color: blue;
}

/*非公共代码段*/
.style1 {
				color: #FF0000;
}
.style2 {
				text-align: center;
}
.style3 {
				text-align: center;
				color: #0066FF;
}
.bottom {position:relative;
 max-width: 640px;
 min-width: 320px;
 margin: 0 auto;
}
.footer-float {
 position: fixed;
 bottom: 0;
 width: 100%;
 max-width: 640px;
 min-width: 320px;
 margin: 0 auto;
 padding: 10px;
 box-sizing: border-box;
 color: #004787;
 font-size: 15px; 
 z-index: 998 ;

}
