.popout_order {
    /*background-color: white;*/
    /*text-align: center;*/
    position: fixed;
    z-index: 100;
    width: 90%;
    height: auto;
    max-width: 480px !important;
    max-height: 480px !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    margin: auto;
}
#order .popout_close_icon{
    display: none;
}
.order_title {
    /*background-color: rgb(255,107,0);*/
    /*color: #fff;*/
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-align: center;
}
.or_form {
    margin:10px 0;
    padding:10px;
    font-size: 1rem;
    /*color:#6d6d6d; */
    /*background-color:#FFF*/
}
.or_form label{
    width: 5.5rem;
    display: inline-block;
}
.or_form_1{ padding:7px; line-height:150%}
/*.or_form_1 strong{*/
    /*color:#2d2d2d;*/
/*}*/
.or_form_2{
    /*color: #2d2d2d;*/
    margin: 15px 10%;
    font-size: 120%;
    font-weight: 500;
}
.or_form_3 {
    /*color: #6b6b6b;*/
    margin:0 5% 8px 10%;
}
.or_form_3 input[type="text"] {
    width: 60%;
    height: 25px;
    border: solid #c4c4c4 1px;
}
.or_form_3 span {
    /*color: #f76e5e;*/
    margin-left: 10px;
}
.or_form_captcha {
    /*color: #6b6b6b;*/
    margin:0 5% 8px 10%;
}
.or_form_captcha input[type="text"] {
    width: 30%;
    height: 25px;
    border: solid #c4c4c4 1px;
}
.or_form_captcha span {
    /*color: #f76e5e;*/
    margin-left: 10px;
}
.or_form_4{
    /*color: #f76e5e;*/
    margin: 0 0 8px 22%;
}
.or_form_5 {
    margin:0 5% 8px 10%;
}
.or_form_5 label {
    width: 10rem;
}
.or_form_5 select {
    border: solid #828282 1px;
    width: 65%;
    height: 28px;
    margin: 0 auto;
    display: block;
}
.or_form_6 {
    margin:0 5% 8px 10%;
}

@media screen and (max-width: 360px) {
    .or_form_3 {
        margin:0 5% 8px 0;
    }
    .or_form_5 {
        margin:0 5% 8px 0;
    }
    .or_form_6 {
        margin:0 5% 8px 0;
    }
    .or_form_3 input[type="text"] {
        width: 55%;
    }
}

.num_a {
    cursor: pointer;
}
.order_tips {
    font-size: 1rem;
}

#anniu, #popout_anniu {
    margin: 15px 25%;
    /*background-color: #ff0000;*/
    /*color: #FFF;*/
    height: 30px;
    width: 35%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: solid 1px #f1f1f1;
}
.order{
    width:100%;
    /*background-color:#d5d5d5;*/
    margin:0 auto;
    overflow:hidden
}
.order form{
    max-width:480px;
    margin:0 auto;
}
.carousel_box {
    font-size: 0.8rem;
    line-height: 2rem;
    color: #3a3ae1;
    overflow: hidden;
    width: 100%;
    text-align: center;
}
.carousel_box h5 {
    background: #df0303;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    height: 2.2rem;
    line-height: 2.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
.carousel_scroll_box {
    margin:0 auto;
}
.carousel_content {
    height: 14rem;
    overflow: hidden;
}
.carousel_scroll {
    height: 30rem;
    overflow: hidden;
}

.error {
    color:red;
    display: inline-block;
    width: auto!important;
}

.weixinpic{
    width: 200px;
    display: block;
    margin: auto;
}