.weixinbox{
    text-align: center;margin-bottom: 15px;
}
.weixinbox .weixin{
    font-size: 18px;font-weight: 600;background:red;color:yellow;display:inline-block;padding:2px 5px;
}

.buttomess{
    position: fixed;bottom:0;left:0;height:auto;width:100%;z-index: 999;
}
._buttomess{
    max-width: 840px;margin:0 auto;padding:5px 10px 0;background:#fff;border-top: 1px solid #ccc;
}
._buttomess span{
    font-weight: 600;font-size:16px;
}
._buttomess .weixin{
    background:yellow;color:red;
}
._buttomess a{
    display: inline-block;background:#217519;color:#fff;line-height: 30px;padding:0 10px;border-radius: 5px;
    text-decoration: none;
}

