.open-wechat-toast {
	font-family: "微软雅黑";
	z-index: 111111;
	margin: 0 2%;
	width: 96%;
	height: 18rem;
	max-width: 620px;
	border: 3px solid #089d49;
	border-radius: 6px;
	background-color: #FFFFFF;
	position: fixed;
	top: 7rem;
	text-align: center;
}

.open-wechat-toast .new_inf_box p:nth-of-type(1){
	font-size:1.1rem;
	margin-top: 1.4rem;
	margin-bottom: 1.1rem;
}
.open-wechat-toast .new_inf_box p:nth-of-type(2){
	font-size:1.3rem;
	color: #d93832;
}
.open-wechat-toast .new_inf_box p:nth-of-type(3){
	border-top: 1px solid #cccccc;
	color:#8f8c8c;
	padding-top: 12px;
	font-size: .9rem;
	margin: 1rem 0;
}

.open-wechat-toast .wx-nuber{
	display: inline-block;
	background-color: #089d49;
	width: 80%;
	padding: 10px 0;
	border-radius: 3px;
	color: #FFFFFF;
}

.open-wechat-toast .wx-btn{
	width: 11rem;
    margin: 0 auto;
   /* margin-top: 1.5rem;*/
}

.close-wechat {
	position: absolute;
	left: 55%;
	margin-left: 34%;
	top: -3rem;
	z-index: 222222;
	background: url(../images/close.png) no-repeat;
	background-size: 100%;
	width: 2rem;
	height: 2rem;
}