* {max-width: 100%!important;margin:0;padding:0;box-sizing: border-box!important;-webkit-box-sizing: border-box!important;word-wrap: break-word!important;}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;line-height:1.6}
body{-webkit-touch-callout:none;font-size:16px;font-family:"Helvetica Neue",Helvetica,"Microsoft YaHei","微软雅黑",Arial,sans-serif;background-color:#f3f3f3;line-height:inherit}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:16px}
*{margin:0;padding:0;font-style:normal}
a{color:#607fa6;text-decoration:none}
p{clear:both;margin:0 0;font-size:16px;min-height:1em;white-space: normal;}
img{*zoom:1;max-width:100%;*max-width:96%;height:auto !important;}
.Content-title {padding-bottom: 10px;margin-bottom: 14px;border-bottom: 1px solid #e7e7eb;line-height:1.4;font-weight:400;font-size:24px}
.msg-content{overflow:hidden;color:#3e3e3e;position: relative;}
.msg-content *{max-width:100%!important;box-sizing:border-box!important;-webkit-box-sizing:border-box!important;word-wrap:break-word!important}
.msg-content p{clear:both;min-height:1em;white-space:pre-wrap}
.msg-content em{font-style:italic}
.msg-content fieldset{min-width:0}
.msg-content .list-paddingleft-2{padding-left:30px}
.msg-content blockquote{margin:0;padding-left:10px;border-left:3px solid #dbdbdb}
/* fix Firefox - max-width images not working within fieldset */
fieldset {border:0 none;}
fieldset img{width: 100%;max-width: -moz-fit-content;max-width: -webkit-fit-content;}
.135page{position: relative;}


.clearfix:before,
.clearfix:after{
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.bdshare-slide-button-box{position:fixed;}

.bigtxt .msg-content ,.bigtxt .msg-content *{font-size:19px !important;}
.smalltxt .msg-content ,.smalltxt .msg-content *{font-size:14px !important;}

#Draft-normal-text,#Draft-small-text,#Draft-big-text{cursor:pointer;}
#Draft-normal-text{color:#607fa6;}
.bigtxt #Draft-big-text{color:#607fa6;}
.smalltxt #Draft-small-text{color:#607fa6;}
.bigtxt #Draft-normal-text,.smalltxt #Draft-normal-text{color:#3e3e3e;}
.qr_code_pc{position:absolute;right:-185px;top:20px;text-align:center;background:#FFF;padding:16px;border: 1px solid #d9dadc;}
.qr_code_pc_img{width:135px;}

#main-content{padding:30px 30px 30px;}
.weixinpic{
    width: 200px;
    height: 200px;
}
.big .stxlwx {
    color: red!important;
    font-weight: bold;
}