* {
    padding: 0px;
    margin: 0px;
    font-family: '微软雅黑';
}

.contain {
    max-width: 640px;
    margin: auto;
    position: relative;
}

.contain .click_botton {
    position: absolute;
    width: 100%;
    top: 47%;
    height: 10%;
    left: 0px;
}

.choose {
    position: relative;
}

.choose_list {
    position: absolute;
    width: 80%;
    height: 80%;
    top: 26%;
    left: 10%;
}

.choose .list {
    width: 42%;
    height: 36%;
    float: left;
    margin-left: 6%;
    color: #fff;
    position: relative;
    margin-bottom: 3px;
}

.choose .list .head {
    border-radius: 5px;
    width: 100%;
    
}

.choose .list input {
    border: 1px solid #060303;
    background-color: #fff;
    display: inline-block;
    margin-top: 3px;
}

.list span{
    position: relative;
    margin-left: 30px;
}

.chech_box{
    width: 24px;
    height: 18px;
    border: 1px solid #060303;
    background-color: #fff;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    top: 81%;
}

.check{
    width: 24px;
    
    position: absolute;
    top: 81%;
    left: 1%;
    display: none;
}

@media screen and (max-width:330px){
    .list{
        font-size: 14px;
    }
}

img {
    display: block;
    width: 100%;
}

.beian {
    text-align: center;
}

#layer {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0px;
    left: 0px;
}

.fixed_box {
    width: 90%;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    max-width: 640px;
    border: 10px solid #f91d65;
    border-radius: 15px;
    background-color: #fde1e0;
    padding: 10px 0px;
}

.fixed_box .big {
    font-size: 26px;
    line-height: 32px;
    font-weight: bold;
    color: #ec175a;
    text-align: center;
}

.fixed_box .compimo {
    text-align: center;
    font-size: 24px;
    color: #f81d65;
}

.fixed_box .weixin_box {
    text-align: center;
    margin: 10px 0;
}

.fixed_box .weixin_box .weixin {
    color: red;
    background-color: yellow;
    padding: 3px 10px;
    font-size: 24px;
    font-weight: bold;
    border-radius: 5px;
}

.fixed_box .ruguo {
    font-size: 18px;
    color: #f81d65;
    text-align: center;
}

.img_4 {
    width: 90%;
    margin: auto;
    margin-top: 5px;
}

.fixed_box .go_wechat {
    background-color: #7dd43c;
    border-radius: 15px;
    padding: 3px 10px;
    border: none;
    font-size: 20px;
    color: #fff;
    display: block;
    margin: 10px auto 0px;
}

.fixed_box .close {
    position: absolute;
    top: 2px;
    border: 1px solid red;
    right: 2px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;
    font-size: 24px;
    z-index: 888;
}

.bottom_box{
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.bottom_contain{
    max-width: 640px;
    margin: auto;
    background-color: #efefef;
    padding: 8px;
    color: #033e6e;
    font-weight: bold;
}

.bottom_contain .weixin{
    color: red;
    background-color: yellow;
    font-size: 20px;
    font-weight: bold;
}

.open_wechat{
    padding: 3px 6px;
    background-color: #fe1474;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
}